*{
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
}

body, html{
	height: 100%;
}

body{
	font-family: sans-serif;
	background-color: #333;
	color: #f0f0f0;
	font-size: 14px;
	overflow-y: hidden;
}

main{
	display: flex;
	flex-direction: row;
	height: 100%;
}

a{
	color: #fa0;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header>p{
	margin: 0px 10px;
	font-size: 16px;
	line-height: 1.25em;
}

#toolsContainer{
	flex: 1;
}

footer{
	width: 100%;
}

#fileInfo{
	margin-top: 20px;
	width: 100%;
	color: #aaa;
}

#fileInfo:hover{
	color: #fff;
}

#fileInfoTable{
	border-collapse: collapse;
	width: 100%;
	font-size: 16px;
}

#fileInfoTable td, th{
	padding: 3px 10px;
}

#fileInfoTable tbody>tr:nth-child(odd){
	background-color: rgba(255, 255, 255, 0.1);
}

#fileInfoTable caption>h2{
	text-align: left;
	margin-bottom: 5px;
}

th{
	text-align: left;
}

td.number, th.number{
	text-align: right;
}

#toolsContainer{
	margin-top: 20px;
	width: 100%;
}

#settings{
	width: 100%;
}

fieldset.radio{
	width: 100%;
	border: 1px #555 solid;
	padding: 4px 9px 7px 9px;
}

fieldset.radio>legend{
	padding: 0px 3px;
	font-size: 15px;
}

fieldset.radio label{
	display: block;
	margin: 5px 3px;
}

input[type="radio"]{
	appearance: none;
	width: 15px;
	height: 15px;
	border: 1px #666 solid;
	border-radius: 16px;
	background-color: #222;
	cursor: pointer;
	position: relative;
	top: 2px;
}

input[type="radio"]:checked{
	background-color: #fa0;
	padding: 2px;
	background-clip: content-box;
}

#menu{
	width: 400px;
	padding: 10px 10px 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#canvasContainer{
	flex: 1;
	overflow: hidden;
	background-color: #040;
	position: relative;
}

#renderCanvas{
	background-color: #000;
}

h1{
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 10px;
	color: #fff
}

h2{
	color: #fff;
	margin-bottom: 20px;
}

button, #downloadButton, .uploadLabel{
	border: 1px #000 solid;
	display: block;
	text-align: center;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
	background-color: #111;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	margin-top: 15px;
}

button:hover, #downloadButton:hover, .uploadLabel:hover{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
}

button:active, #downloadButton:active .uploadLabel:active{
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
}

#generateStlButton, #fileUploadButton, #downloadButton, #enableRenderingButton{
	width: 200px;
	height: 40px;
	font-size: 20px;
	line-height: 37px;
}

#fileUploadButton, #downloadButton, #enableRenderingButton, #processFileButton{
	background-color: #fa0;
}

#generateStlButton{
	display: none;
}

#downloadButton.fresh{
	box-shadow: 0px 0px 50px rgba(255, 200, 0, 0.5);
}

#downloadButton{
	box-shadow: 0px 0px 0px rgba(255, 200, 0, 0.0);
	transition: box-shadow 2s;
}

.uploadLabel>input{
	visibility: hidden;
}

#fileUpload{
	
}

#fileInformation{
	width: 100%;
	padding: 0px 20px;
	flex-shrink: 1;
	overflow-y: auto;
}

/* =========== Progress Monitor ============= */

.loadingStatus{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 400px;
	text-align: left;
	padding: 30px;
	height: 300px;
	left: calc(50% - 200px);
	top: calc(50% - 150px);
	background-color: #333;
	border: 1px #111111 solid;
	opacity: 1;
	transition: opacity;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
}

.loadingStatus.fading{
	opacity: 0;
}

.progressTitle{
	display: block;
	font-size: 20px;
	margin-bottom: 15px;
}

.loadingBarContainer{
	height: 15px;
	background-color: #292929;
	border: 1px #111111 solid;
	width: 100%;
	margin-bottom: 15px;
}

.loadingBar{
	width: 0%;
	height: 100%;
	background-color: #fa0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
	/*transition: width;
	transition-duration: 250ms;
	transition-timing-function: linear;*/
}

.progressItemsContainer{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	margin-bottom: 15px;
}

.progressItem{
	border: 1px #000 solid;
	height: 30px;
	width: 30px;
	background-color: #292929;
}

.progressItem.active{
	border: 1px #000 solid;
	background-color: #715a2d;
	animation: 1s infinite alternate linear pulsate;
}

@keyframes pulsate {
	from {
		background-color: #715a2d;
		box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px;
	}

	to {
		background-color: #9b7a37;
		box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 10px;
	}
}

.progressItem.done{
	border: 1px #000 solid;
	background-color: #fa0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
}

.loadingContent{
	overflow-y: auto;
}

.progressMessage{
	display: block;
}

.progressMessage.info{
	color: #888;
}

.progressMessage.info:first-child{
	color: #fff;
}

.progressMessage.warn{
	color: #fa0;
}

.progressMessage.error{
	color: #f33;
	font-weight: bold;
}

.progressMessage.success{
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}